# Database Configuration (For Local XAMPP or Free Cloud MySQL like TiDB / Aiven / Railway)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=kalai_portfolio
DB_SSL=false

# Client Settings
CLIENT_ORIGIN=http://localhost:5173
PORT=5050
